﻿@model ApiMessages.Contacts
@{
    ViewBag.Title = "Sigma Studio";
}

<div class="row">
    <div class="container">
        <div style="text-align:center;">
            <img src="~/Images/sigma-logo.png" />
        </div>
        <div style="text-align:center;padding-top:2%;">
            <span class="title-sigma">Prueba de desarrollo Sigma</span>
        </div>
        <div class="col-md-8 col-md-offset-2 description-sigma">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 div-image">
                    <img src="~/Images/sigma-image.png" style="width: 100%;" />
                </div>
                <div class="col-md-5 col-sm-12 container-form">
                @using (Html.BeginForm(""))
                {
                        <div class="div-form">
                            <div class="form-group">
                                <lable class="label black custom-label">Departamento*</lable>
                                <br />
                                @Html.DropDownListFor(Model => Model.state, (IEnumerable<SelectListItem>)ViewBag.ListState, "Seleccione el Departamento", new { id = "departmentList", required = "required", @class = "select form-control full-width input-color margin-top1" })
                            </div>

                            <div class="form-group">
                                <lable class="label black custom-label">Ciudad*</lable>
                                <br />
                                @Html.DropDownListFor(Model => Model.city, new SelectList(Enumerable.Empty<SelectListItem>(), "CityID", "CityName"), "Selecciones la ciudad", new { id = "citiesList", required = "required", @class = "select form-control full-width input-color margin-top1" })
                            </div>

                            <div class="form-group">
                                <lable class="label black custom-label">Nombre*</lable>
                                <br />
                                @Html.TextBoxFor(Model => Model.name, new { required = "required", @class = "input form-control full-width input-color margin-top1", id = "name", placeholder = "Nombre" })
                            </div>

                            <div class="form-group">
                                <lable class="label black custom-label">Correo*</lable>
                                <br />
                                @Html.TextBoxFor(Model => Model.email, new { required = "required", @class = "input form-control full-width input-color margin-top1", id = "email", placeholder = "Correo" })
                            </div>
                            <div class="center-element margin-top1">
                                <input type="submit" value="Enviar" class="btn-save"/>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalResponse" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">         
                <p>@ViewBag.status</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-primary" data-dismiss="modal"> Aceptar </button>
                </div>
            </div>

        </div>
    </div>
</div>

<link type="text/css" href="~/Content/master.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#departmentList").change(function () {
            var dID = $(this).val();
            $.getJSON("../Landing/LoadCitiesByDepartment", { state: dID },
                   function (data) {
                       var select = $("#citiesList");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Seleccione ciudad"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
        });
    });
</script>

@if (TempData["displayModal"] != null)
{
    var modal = TempData["displayModal"].ToString();
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#@modal').modal('show');
        });
    </script>
}
