﻿body {
    padding-top:3%;
}

.black {
    color:#212121;
}

.title-sigma {
    font-family:Roboto-Black;  
    font-size:25px;
    color:black;
}

.description-sigma {  
    color:#797778;
    padding-top:2%;
    text-align:center;
    padding:2.5%;
    font-family:Roboto-Medium;
    line-height: normal;
    font-size: 14px;
}

.btn-save {
     padding:10px;
     border-radius: 28px;
     width: 100px;
     background-color: #e03b65;
     border-color: #e03b65;
     color:#fff7fd;
     box-shadow:none;
     font-size:1em;
     border: 1px solid;
     font-family:Roboto-Medium;
}

.btn-save:focus { outline: none; }

.div-form{
    padding: 20px;
    padding-top:38px;
    font-family:Roboto-Medium;
}

.full-width {
    max-width:100%;
}

.input-color {
    color: #b1b8be;
}

.custom-label {
    font-size: 1em;
    padding: 0;
    padding-bottom:1px;
}

.center-element {
    text-align:center;
}

.margin-top1 {
    margin-top:5px;
}

.container-form {
    border-radius: 10px 29px 29px 29px;
    box-shadow: 0px 1px 8px 8px #eeeeee;
    /*height:400px;*/
}

.div-image {
    padding-top:2%;
}


.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}

@media (max-width:767px){
    .div-image {
        display:none;
    }
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../fonts/Roboto-BlackItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../fonts/Roboto-ThinItalic.ttf');
}